.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.container2 {
  padding: 50px;
  width: 75px;
  height: 75px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-sizing: border-box;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
  color: #8b0000;
}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 20px;
  text-align: center;
  color: #666;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
  color: #000;
  position: relative;
  padding-bottom: 5px;
}

.section-title::after {
  content: "";
  display: block;
  width: 20%;
  margin: 0 auto;
  height: 2px;
  background-color: #8b0000;
  margin-top: 5px;
}

.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar i {
  font-size: 1.5rem;
  vertical-align: middle;
  color: #8b0000;
}

.search-bar input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-left: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.search-bar input:focus {
  box-shadow: 0 0 10px rgba(139, 0, 0, 0.5);
  outline: none;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

p-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p-table th,
p-table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ccc;
}

p-table th {
  background-color: #d3d3d3;
  color: #fff;
}

p-table tr:nth-child(even) {
  background-color: #f7f7f7;
}

.btn-primary,
.btn-historial,
.btn-certificado {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary {
  background-color: #8b0000;
  border: none;
  color: white;
  margin-right: 10px;
}

.btn-primary:hover {
  background-color: #6b0000;
}

.btn-historial {
  background-color: #ffdb58;
  border: 2px solid #d4a017;
  color: #333;
  margin-left: 20px;
}

.btn-historial:hover {
  background-color: #ffd700;
}

.p-dialog .p-dialog-header {
  background-color: #000;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.p-dialog .p-dialog-content {
  padding: 20px;
}

.p-dialog .p-dialog-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.p-dialog .p-dialog-footer .p-button {
  margin-left: 10px;
}

.custom-calendar .ui-calendar {
  width: 100%;
}

.custom-calendar .ui-datepicker {
  width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.custom-calendar .ui-datepicker-header {
  background-color: #007bff;
  color: #fff;
  border-radius: 0;
}

.custom-calendar .ui-datepicker-prev,
.custom-calendar .ui-datepicker-next {
  color: #fff;
}

.custom-calendar .ui-state-default {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  color: #333;
}

.custom-calendar .ui-state-active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.custom-calendar .ui-state-highlight {
  background-color: #ffc107;
  color: #fff;
}

.form-container {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

.field-with-border {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.btn-save {
  background-color: #77dd77;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
}

.btn-save:hover {
  background-color: #6ebf6e;
}

.btn-cancel {
  background-color: #ff6961;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
}

.btn-cancel:hover {
  background-color: #ff5c5c;
}

.btn-print {
  background-color: #5bc0de;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 14px;
}

.btn-print:hover {
  background-color: #46b8da;
}

.btn-certificado {
  background-color: #007bff;
  border: none;
  color: white;
  margin-left: 20px;
}

.btn-certificado:hover {
  background-color: #0056b3;
}
.p-dialog img {
  display: block;
  margin: 0 auto 20px;
}

/* CSS para impresión */
@media print {
  /* Oculta todo menos el contenido del modal */
  body * {
    visibility: hidden;
  }

  /* Haz visible solo el contenido del modal */
  #certificadoModal,
  #certificadoModal * {
    visibility: visible;
  }

  /* Asegúrate de que el modal esté posicionado correctamente para impresión */
  #certificadoModal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto; /* Ajusta esto si es necesario */
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
  }

  .modal-content {
    border: none;
    margin: 0;
    padding: 0;
  }

  .modal-header,
  .modal-footer {
    display: none; /* Opcional: oculta la cabecera y pie del modal en la impresión */
  }

  .modal-body {
    margin: 0;
    padding: 0;
  }
}
